/***********************
  BODY BACKGROUND 
************************/
body {
	background:url("/img/bulls_background.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center top;
}

/***********************
  SHARP BUTTONS
************************/
.sharp {
  border-radius:0;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
	padding: 14px 24px;
	border: 0 none;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
}

.btn-primary {
	background: #000000;
	color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
	background: #007299;
	box-shadow: none;
}

/***********************
  HTML COMP CUSTOMIZATION
************************/
.pageTitle{
	background-color: #000000;
	
}

h1{
color: #ffffff;
}

#myDiv{
	color: #ffffff;
position: center;
margin-left: 525px;
background: #000000;
margin-right: 525px;
}