/***********************
  BODY BACKGROUND 
************************/
body {
	background:url("/img/bulls_background.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center top;
}

/***********************
  SHARP BUTTONS
************************/
.sharp {
  border-radius:0;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
	padding: 14px 24px;
	border: 0 none;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	width: 20%;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
}

.btn-primary {
	background: #000000;
	color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
	background: #007299;
	box-shadow: none;
}

/***********************
  HTML COMP CUSTOMIZATION
************************/
.pageTitle{
	background-color: #000000;
	
}

h1{
color: #ffffff;
}

#myDiv{
	color: #ffffff;
position: center center;
margin-left: 525px;
background: #000000;
margin-right: 525px;
margin-top: -359px;
padding: 10px;
}

@media (min-width: 768px) {
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

.navbar
{
	max-width:300px;
	margin-right: 0;
	margin-left: 0;
}	

.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}

.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
}